<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957630503674-nft7v49sn61mnpkrfivke3uv413stlo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957630503674-nft7v49sn61mnpkrfivke3uv413stlo4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>957630503674-ig0m8q7t0ocr66jpu9fvrlrca66oqigi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ_RzTwr7rsqlTCDRyWjdqDqkWTahqTeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>957630503674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bonbangsasu.Bonbangsasu</string>
	<key>PROJECT_ID</key>
	<string>bangkok-25b05</string>
	<key>STORAGE_BUCKET</key>
	<string>bangkok-25b05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957630503674:ios:d2cf1d8b9e1d24f56e8743</string>
	<key>DATABASE_URL</key>
	<string>https://bangkok-25b05.firebaseio.com</string>
</dict>
</plist>